<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Insert title here</title>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>Sexo</td>
                </tr>
            </thead>
            <tbody>
                <td>Zezinho</td>
                <td>Masculino</td>
                </strong>
            </tbody>
        </table>
        <strong th:text="${dataatualizada}">
    </body>
</html>